@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo Black", sans-serif;
}

::selection {
  background-color: white;
  color: black;
}

span {
  cursor: pointer;
}
span:hover {
  color: #fff;
}

input,
textarea,
option,
select {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0.5rem;
}
